# credentials
0_config/credentials

# ignore Python module cache
1_classes/__pycache__/

#checks for tests
test_result/
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/SDD-airquality.iml
.idea/vcs.xml
